.fadeOutAnimation {
    animation: fadeOut 4s ease-out forwards;
}

.hiddenSceneAnimation {
    animation: hidden 6s ease forwards;
}

.slideInTilesAnimation {
    animation: slideInTiles 2s ease forwards;
}

[data-icon="heart"] {
  color: red;
}

.messageScene p{
    margin: 0;
    line-height: 4rem;
    letter-spacing: 2px;
}

.messageScene {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.closeButtonScene {
    color: white;
    font-size: 1.6rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.scene-transition {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    scene-transition: width 0s 1.4s ease;
    z-index: 9999;
}

.scene-transition__tile {
    position: absolute;
    width: 100%;
    left: 0;
    height: 20%;
    background-color: #242229;
    scene-transition: width 0.7s ease;
}


.scene-transition__tile:nth-child(1) {
    top: 0%;
    animation-delay: 4s;
}

.scene-transition__tile:nth-child(2) {
    top: 20%;
    animation-delay: 4.2s;
}

.scene-transition__tile:nth-child(3) {
    top: 40%;
    animation-delay: 4.4s;
}

.scene-transition__tile:nth-child(4) {
    top: 60%;
    animation-delay: 4.6s;
}

.scene-transition__tile:nth-child(5) {
    top: 80%;
    animation-delay: 4.8s;
}

@keyframes hidden {
    to {
        visibility: hidden;
    }
}

@keyframes slideInTiles {
    from {
        width: 100%;
    }

    to {
        width: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
